@font-face {
  font-family: icomoon;
  src: url("../fonts/icons/icomoon.eot?fkjib");
  src:
    url("../fonts/icons/icomoon.eot?fkjib#iefix") format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?fkjib") format("truetype"),
    url("../fonts/icons/icomoon.woff?fkjib") format("woff"),
    url("../fonts/icons/icomoon.svg?fkjib#icomoon") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: icomoon !important;
  font-size: 24px;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.icon-printer-converted::before {
  content: "\e932";
}

.icon-link-converted::before {
  content: "\e931";
}

.icon-calendar-add::before {
  content: "\e92f";
}

.icon-tag-user::before {
  content: "\e930";
}

.icon-lock-bold::before {
  content: "\e92e";
}

.icon-folder-add::before {
  content: "\e92c";
}

.icon-info-circle::before {
  content: "\e92d";
}

.icon-clock::before {
  content: "\e92a";
}

.icon-tick-circle::before {
  content: "\e92b";
}

.icon-eye-slash::before {
  content: "\e928";
}

.icon-eye::before {
  content: "\e929";
}

.icon-copyright::before {
  content: "\e927";
}

.icon-lock::before {
  content: "\e925";
}

.icon-sms::before {
  content: "\e926";
}

.icon-profile-1::before {
  content: "\e924";
}

.icon-close::before {
  content: "\e923";
}

.icon-arrow-circle-down::before {
  content: "\e900";
}

.icon-arrow-down::before {
  content: "\e901";
}

.icon-arrow-left::before {
  content: "\e902";
}

.icon-calendar::before {
  content: "\e903";
}

.icon-clock-1::before {
  content: "\e904";
}

.icon-close-circle-2::before {
  content: "\e905";
}

.icon-close-circle::before {
  content: "\e906";
}

.icon-document-download::before {
  content: "\e907";
}

.icon-document-text-2::before {
  content: "\e908";
}

.icon-document-text::before {
  content: "\e909";
}

.icon-document::before {
  content: "\e90a";
}

.icon-edit-2::before {
  content: "\e90b";
}

.icon-edit::before {
  content: "\e90c";
}

.icon-eraser-1::before {
  content: "\e90d";
}

.icon-filter-search::before {
  content: "\e90e";
}

.icon-gallery::before {
  content: "\e90f";
}

.icon-grid-7::before {
  content: "\e910";
}

.icon-logout-1::before {
  content: "\e911";
}

.icon-menu-1::before {
  content: "\e912";
}

.icon-menu::before {
  content: "\e913";
}

.icon-message-question::before {
  content: "\e914";
}

.icon-message::before {
  content: "\e915";
}

.icon-moon::before {
  content: "\e916";
}

.icon-more-circle::before {
  content: "\e917";
}

.icon-more::before {
  content: "\e918";
}

.icon-notification::before {
  content: "\e919";
}

.icon-people::before {
  content: "\e91a";
}

.icon-plane::before {
  content: "\e91b";
}

.icon-plus-circle::before {
  content: "\e91c";
}

.icon-profile-circle .path1::before {
  content: "\e91d";
}

.icon-profile-circle .path2::before {
  content: "\e91e";
  margin-left: -1em;
}

.icon-profile-circle .path3::before {
  content: "\e91f";
  margin-left: -1em;
}

.icon-search-normal-1::before {
  content: "\e920";
}

.icon-trash::before {
  content: "\e921";
}

.icon-wallet-2::before {
  content: "\e922";
}
