.form-group {
  width: 100%;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  input {
    box-sizing: border-box;
    padding: 12px 0 12px 16px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    border: 1px solid $basic-5;
    border-radius: 8px;
    background-color: $basic-2;
    color: $basic-7;
    font-size: 14px;
    line-height: 20px;

    &::placeholder {
      color: $dark-3;
      font-size: 13px;
      line-height: 16px;
    }

    &.is-invalid {
      border-color: $danger-5 !important;
      background-image: none !important;
    }
  }

  .form-control:focus {
    border-color: $dark-3;
    box-shadow: none;
    background-color: $basic-2;
  }

  .was-validated .form-control:invalid:focus,
  .form-control.is-invalid:focus {
    border-color: $danger-5;
  }

  .invalid-feedback {
    color: $danger-5;
    font-size: 12px;
    line-height: 16px;
  }

  .col-form-label {
    margin-bottom: 8px;
    padding: 0;
    color: $basic-7;
    font-size: 12px;
    line-height: 16px;
  }
}

.search-input {
  position: relative;

  input {
    padding-right: 30px;
    padding-left: 52px;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      appearance: none;

      // -webkit-appearance: none;
    }
  }

  i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: $dark-3;
    font-size: 20px;
    font-weight: 500;
    transform: translateY(-50%);
  }

  #clear-search {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: inline;
    width: 20px;
    height: 20px;
    cursor: pointer;

    i {
      color: $dark-4;
      font-size: 18px;
    }
  }
}

.query-field {
  position: relative;

  input {
    max-height: 32px;
    border: none;
    border-radius: 16px;
    background: $dark-4 !important;
    color: $white;
  }

  i {
    position: absolute;
    top: 50%;
    right: 18px;
    color: $dark-3;
    font-size: 12px;
    transform: translateY(-50%);
  }
}
