.v-select {
  position: relative;
  max-height: 40px;

  .vs__search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .vs__selected,
  .vs__search,
  .vs__search:focus {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    background: none;
    font-size: 14px;
    line-height: 21px;
    outline: none;
  }

  &.vs--searching {
    .vs__selected {
      opacity: 0;
    }
  }

  &.vs--disabled {
    .vs__dropdown-toggle {
      background-color: #d4dce9;
    }
  }

  .vs__selected-options {
    position: relative;
    display: flex;
    padding-right: 30px;
    min-width: 160px;
    min-height: 21px;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .vs__selected {
      position: relative;
      z-index: 5;
      display: inline-flex;
      align-items: center;
      margin: 2px 10px 2px 0;
      padding: 5px;
      width: auto;
      overflow: hidden;
      border: 1px solid $basic-7;
      border-radius: 4px;
      line-height: 20px;

      button {
        margin-left: 5px;
      }
    }
  }

  &.vs--single {
    .vs__selected-options {
      .vs__selected {
        margin: 0;
        padding: 0;
        border: none;
        color: $basic-7;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &.vs--open {
    &::after {
      transform: rotate(180deg);
    }
  }

  &::after {
    content: "\e901";
    position: absolute;
    top: 10px;
    right: 19px;
    color: $basic-7;
    font-family: icomoon !important;
    font-size: 18px;
    pointer-events: none;
  }

  .vs__dropdown-toggle {
    padding: 10px 0 10px 16px;
    max-height: 40px;
    width: 100%;
    border: 1px solid #c0c5ea;
    border-radius: 8px;
    background-color: $basic-2;
  }

  &.sm {
    &::after {
      top: 10px;
    }

    .vs__dropdown-toggle {
      padding: 8px 35px 9px 15px;
    }
  }

  .vs__dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 30;
    display: block;
    padding: 10px 0;
    max-height: 265px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0 0 0 / 15%);
    background-color: $basic-2;
    overflow-y: auto;

    li {
      padding: 5px 15px;
      cursor: pointer;

      &:hover {
        background-color: $basic-7;
        color: $white;
      }
    }
  }

  .vs__searchable {
    background-image: none;
  }

  .vs__actions {
    position: absolute;
    top: 19px;
    right: 35px;
  }

  .vs__clear {
    display: flex;
    width: 16px;
    height: 16px;
    background-size: 70% 70%;

    > * {
      display: none;
    }
  }

  .vs__open-indicator {
    display: none;
  }
}

.select-invalid {
  color: $danger-5;
  font-size: 12px;
  line-height: 16px;
}

.vs__search::-webkit-search-cancel-button {
  display: none !important;
}

.v-select.is-invalid {
  &::after {
    color: $danger-5;
  }

  .vs__dropdown-toggle {
    border-color: $danger-5;
  }
}

.vue-treeselect {
  min-width: 150px;
  color: $basic-7;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer !important;

  .vue-treeselect__control {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid $dark-2;
    border-radius: 8px;
  }

  .vue-treeselect__placeholder {
    color: #8d92c1;
    line-height: 24px;
  }

  .vue-treeselect__x-container:hover {
    color: $dark-4;
  }
}

/* stylelint-disable */

// .vue-treeselect:not(.vue-treeselect--disabled) .vue-treeselect__control-arrow-container:hover .vue-treeselect__control-arrow {
//   color: $dark-4 !important;
// }

/* stylelint-enable */

.vue-treeselect--single .vue-treeselect__input-container {
  height: 30px !important;
}

.vue-treeselect__input {
  cursor: pointer;
}
