<template>
  <div class="billing id">
    <PageHeader :title="`Invoice #${invoiceById.invoice_id}`" show-back-button show-actions>
      <template #actions>
        <button class="btn">
          <Icon name="link-converted" />
          Go to order
        </button>
        <button class="btn">
          <Icon name="clock-1" />
          History
        </button>
        <button class="btn">
          <Icon name="printer-converted" />
          Print
        </button>
        <button :class="['btn', 'btn-success', { pending: pending }]" @click="handleInvoiceAdd">Save changes</button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="actions d-flex align-items-center flex-wrap">
        <b-form-group label="Client">
          <v-select :close-on-select="true" :clearable="false" />
        </b-form-group>
        <b-form-group label="Currency">
          <v-select v-model="editInvoiceForm.currency" :options="currencies" :reduce="(data) => data.value" />
        </b-form-group>
        <b-form-group label="Payment type">
          <v-select
            v-model="editInvoiceForm.payment_type"
            :options="paymentTypes"
            :reduce="(data) => data.value"
            @input="handleTypeChange"
          />
        </b-form-group>
        <b-form-group label="Payment method">
          <v-select
            v-model="editInvoiceForm.payment_method"
            :disabled="editInvoiceForm.payment_type != 'Online'"
            :options="paymentMethods"
            :reduce="(data) => data.value"
          />
        </b-form-group>
        <b-form-group label="Invoice date">
          <date-picker value-type="format" format="YYYY-MM-DD" placeholder="Choose date" />
        </b-form-group>
        <b-form-group label="Paid date">
          <date-picker value-type="format" format="YYYY-MM-DD" placeholder="Choose date" />
        </b-form-group>
      </div>
      <DataTable :fields="fields">
        <tbody>
          <template v-for="(item, index) in editInvoiceForm.items">
            <tr :key="item.id">
              <td>
                <strong>#{{ index + 1 }}</strong>
              </td>
              <td>
                <form-field v-model="editInvoiceForm.items[index].title" placeholder="Enter" />
              </td>
              <td>
                <form-field v-model="editInvoiceForm.items[index].description" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <form-field v-model="editInvoiceForm.items[index].quantity" type="number" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <form-field v-model="editInvoiceForm.items[index].unit_price" type="number" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <v-select
                  v-model="editInvoiceForm.items[index].currency"
                  :options="currencies"
                  :reduce="(data) => data.value"
                ></v-select>
              </td>
              <td class="d-flex align-items-center justify-content-center">
                <b-form-checkbox v-model="editInvoiceForm.items[index].only_payment" />
                <button
                  v-if="editInvoiceForm.items.length > 1"
                  class="d-flex align-items-center justify-content-center"
                  @click="handleRowDelete(index)"
                >
                  <Icon name="trash" />
                </button>
              </td>
            </tr>
          </template>
        </tbody>
        <button class="btn add-row" @click="handleAddRow">
          <Icon name="plus-circle" />
          Add row
        </button>
      </DataTable>
      <div class="row d-flex justify-content-end">
        <div class="payment-info col-4">
          <div class="head d-flex justify-content-between">
            <span>ITEM</span>
            <span>AMOUNT</span>
          </div>
          <div class="body">
            <ul>
              <li>
                <strong>Taxable:</strong>
                <span>40.02 USD</span>
              </li>
              <li>
                <strong>Nontaxable:</strong>
                <span>0 USD</span>
              </li>
              <li>
                <strong>Discount:</strong>
                <span>0 USD</span>
              </li>
            </ul>
            <div class="total d-flex align-items-center justify-content-between">
              <strong>TOTAL:</strong>
              <strong>40.02 USD</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'EditInvoice',
  async asyncData({ store, params }) {
    await Promise.all([
      store.dispatch('billing/fetchInvoiceById', params.id),
      store.dispatch('billing/fetchPaymentMethods'),
      store.dispatch('billing/fetchPaymentTypes'),
      store.dispatch('billing/fetchCurrencies'),
    ])
  },
  data() {
    return {
      fields: ['', 'Title', 'Description', 'Quantity', 'Unit price', 'Currency', 'Only payment'],
      pending: false,
      editInvoiceForm: {
        payment_method: '',
        callback_url: 'https://google.com',
        currency: '',
        payment_type: '',
        items: [],
      },
    }
  },
  computed: {
    ...mapGetters({
      invoiceById: 'billing/invoiceById',
      paymentMethods: 'billing/paymentMethods',
      paymentTypes: 'billing/paymentTypes',
      currencies: 'billing/currencies',
    }),
  },
  mounted() {
    this.editInvoiceForm.items = this.$ld.cloneDeep(this.invoiceById.items)
  },
  methods: {
    handleTypeChange() {
      if (this.editInvoiceForm.payment_type !== 'Online') this.editInvoiceForm.payment_method = ''
    },
    handleAddRow() {
      this.editInvoiceForm.items.push({
        id: this.editInvoiceForm.items.length + 1,
        title: '',
        description: '',
        quantity: '',
        unitPrice: '',
        currency: '',
        onlyPayment: false,
      })
    },
    handleRowDelete(index) {
      this.editInvoiceForm.items.splice(index, 1)
    },
    async handleInvoiceAdd() {
      this.pending = true
      await this.$store.dispatch('billing/editInvoice', this.editInvoiceForm)
      this.pending = false
    },
  },
}
</script>
