<template>
  <div class="billing add-new">
    <PageHeader title="Add invoice" show-back-button show-actions>
      <template #actions>
        <button :class="['btn', 'btn-success', { pending: pending }]" @click="handleInvoiceAdd">Save invoice</button>
      </template>
    </PageHeader>
    <div class="container">
      <div class="actions d-flex align-items-center justify-content-between flex-wrap">
        <b-form-group label="Customer">
          <v-select :close-on-select="true" :clearable="false" />
        </b-form-group>
        <b-form-group label="Currency">
          <v-select v-model="addInvoiceForm.currency" :options="currencies" :reduce="(data) => data.value" />
        </b-form-group>
        <b-form-group label="Payment type">
          <v-select
            v-model="addInvoiceForm.payment_type"
            :options="paymentTypes"
            :reduce="(data) => data.value"
            @input="handleTypeChange"
          />
        </b-form-group>
        <b-form-group label="Payment method">
          <v-select
            v-model="addInvoiceForm.payment_method"
            :disabled="addInvoiceForm.payment_type != 'Online'"
            :options="paymentMethods"
            :reduce="(data) => data.value"
          />
        </b-form-group>
      </div>
      <DataTable :fields="fields">
        <tbody>
          <template v-for="(row, index) in addInvoiceForm.items">
            <tr :key="row.id">
              <td>
                <strong>#{{ index + 1 }}</strong>
              </td>
              <td>
                <form-field v-model="addInvoiceForm.items[index].title" placeholder="Enter" />
              </td>
              <td>
                <form-field v-model="addInvoiceForm.items[index].description" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <form-field v-model="addInvoiceForm.items[index].quantity" type="number" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <form-field v-model="addInvoiceForm.items[index].value" type="number" placeholder="Enter" />
              </td>
              <td style="max-width: 100px">
                <v-select
                  v-model="addInvoiceForm.items[index].currency"
                  :options="currencies"
                  :reduce="(data) => data.value"
                ></v-select>
              </td>
              <td class="d-flex align-items-center justify-content-center">
                <b-form-checkbox v-model="addInvoiceForm.items[index].onlyPayment" />
                <button
                  v-if="addInvoiceForm.items.length > 1"
                  class="d-flex align-items-center justify-content-center"
                  @click="handleRowDelete(index)"
                >
                  <Icon name="trash" />
                </button>
              </td>
            </tr>
          </template>
        </tbody>
        <button class="btn add-row" @click="handleAddRow">
          <Icon name="plus-circle" />
          Add row
        </button>
      </DataTable>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'AddInvoice',
  async asyncData({ store }) {
    await Promise.all([
      store.dispatch('billing/fetchPaymentMethods'),
      store.dispatch('billing/fetchPaymentTypes'),
      store.dispatch('billing/fetchCurrencies'),
    ])
  },
  data() {
    return {
      fields: ['', 'Title', 'Description', 'Quantity', 'Unit price', 'Currency', 'Only payment'],
      pending: false,
      addInvoiceForm: {
        payment_method: '',
        callback_url: 'https://google.com',
        currency: '',
        payment_type: '',
        items: [
          {
            id: 1,
            title: '',
            description: '',
            quantity: '',
            value: '',
            currency: '',
            onlyPayment: false,
          },
        ],
      },
    }
  },
  computed: {
    ...mapGetters({
      paymentMethods: 'billing/paymentMethods',
      paymentTypes: 'billing/paymentTypes',
      currencies: 'billing/currencies',
    }),
  },
  mounted() {
    console.log(this.$route)
  },
  methods: {
    handleTypeChange() {
      if (this.addInvoiceForm.payment_type !== 'Online') this.addInvoiceForm.payment_method = ''
    },
    handleAddRow() {
      this.addInvoiceForm.items.push({
        id: this.addInvoiceForm.items.length + 1,
        title: '',
        description: '',
        quantity: '',
        unitPrice: '',
        currency: '',
        onlyPayment: false,
      })
    },
    handleRowDelete(index) {
      this.addInvoiceForm.items.splice(index, 1)
    },
    async handleInvoiceAdd() {
      this.pending = true
      await this.$store.dispatch('billing/addInvoice', this.addInvoiceForm)
      this.pending = false
    },
  },
}
</script>
