<template>
  <div class="billing">
    <PageHeader title="Billing" show-actions>
      <template #actions>
        <button v-if="filtersActive" class="btn clear-filters" @click="$nuxt.$emit('clear-filters')">
          <icon :name="'eraser-1'" />
          <span>Clear filters</span>
        </button>
        <button class="btn open-filters" @click="toggleFilters">
          <icon :name="!filtersActive ? 'filter-search' : 'close-circle'" />
          <span v-if="!filtersActive">Filters</span>
          <span v-else>Hide Filters</span>
        </button>
        <div class="d-flex justify-content-end mr-3">
          <NuxtLink :to="'/billing/add'" class="btn btn-success excel-export">
            <Icon name="document-download" />
            Export as excel
          </NuxtLink>
        </div>
        <div class="d-flex justify-content-end">
          <NuxtLink :to="'/billing/add'" class="btn btn-success">Create invoice</NuxtLink>
        </div>
      </template>
      <template #filters>
        <div class="col-3">
          <b-form-group>
            <form-field v-model="search" :placeholder="'Enter'" label="Search" type="search" />
          </b-form-group>
        </div>
        <div class="col-3">
          <b-form-group label="Date range">
            <date-picker value-type="format" placeholder="Choose date" range format="YYYY-MM-DD" />
          </b-form-group>
        </div>
        <div class="col-3">
          <b-form-group label="Payment status">
            <v-select placeholder="Choose status" />
          </b-form-group>
        </div>
      </template>
    </PageHeader>
    <div class="container">
      <DataTable :fields="fields" with-actions>
        <tbody>
          <template v-for="invoice in invoices">
            <tr :key="invoice.id" @click="$router.push(`/billing/${invoice.id}`)">
              <td>
                <span>{{ invoice.invoice_id }}</span>
              </td>
              <td>
                <button class="btn" @click.stop="$router.push(`/orders/${invoice.order.id}`)">
                  {{ invoice.order ? invoice.order.id : '--' }}
                </button>
              </td>
              <td>
                <strong>{{ invoice.client }}</strong>
              </td>
              <td>
                <span>{{ invoice.order ? invoice.order_type : '--' }}</span>
              </td>
              <td>
                <span>{{ invoice.total }} {{ invoice.currency }}</span>
              </td>
              <td>
                <span>{{ invoice.invoice_date }}</span>
              </td>
              <td>
                <span>{{ invoice.payment_type.value }}</span>
              </td>
              <td>
                <badge :category="'status'" :text="invoice.payment_status" />
              </td>
              <td :class="['actions', { active: activeAction }]">
                <button
                  ref="showActions"
                  v-scroll-to="`#element-${invoice.id}`"
                  class="show-actions"
                  @click.stop="toggleActions(invoice)"
                >
                  <icon :name="'more'" />
                </button>
                <div
                  v-show="activeAction === invoice.id"
                  :id="`element-${invoice.id}`"
                  ref="actionsBlock"
                  class="table-actions"
                >
                  <button @click="$router.push(`/billing/${invoice.id}`)">
                    <icon :name="'edit-2'" />
                    Edit
                  </button>
                  <!-- <button @click="openModal(invoice.id)">
                    <icon :name="'trash'" />
                    Delete
                  </button> -->
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </DataTable>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PageHeader from '@/components/layout/PageHeader.vue'
import { TableActionsMixin } from '~/mixins/table-actions'
export default {
  name: 'Billing',
  components: { PageHeader },
  mixins: [TableActionsMixin],
  async asyncData({ store }) {
    await store.dispatch('billing/fetchInvoices')
  },
  data() {
    return {
      search: '',
      fields: [
        'Invoice ID',
        'Order ID',
        'Client',
        'Order type',
        'Amount',
        'Invoice date',
        'Payment type',
        'Payment status',
      ],
    }
  },
  computed: {
    ...mapGetters({
      invoices: 'billing/invoices',
      filtersActive: 'filtersActive',
    }),
  },
  mounted() {
    this.$nuxt.$on('modal-delete-click', this.handleDelete)
    document.addEventListener('click', this.handleDocClick)
  },
  beforeDestroy() {
    this.$nuxt.$off('modal-delete-click', this.handleDelete)
    document.removeEventListener('click', this.handleDocClick)
  },
  methods: {
    toggleFilters() {
      this.$store.commit('TOGGLE_FILTERS')
    },
  },
}
</script>

<style></style>
