.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  border: none;
  box-shadow: none;
  text-align: center;
  white-space: nowrap;
  outline: none;

  &:focus,
  &.btn.focus {
    box-shadow: none;
  }

  &.btn-transparent {
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
  }

  &.btn-borderless {
    border: none;
    font-size: 12px;
    line-height: 16px;
  }

  &.btn-success {
    background-color: $success-5;
    color: $white;
    font-size: 14px;
    line-height: 16px;
  }

  &.btn-info {
    background-color: $info-5;
    color: $white;
    font-size: 14px;
    line-height: 16px;
  }

  &.go-back {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 19px;
    color: $basic-7;
  }

  &.open-filters {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #8d92c1;
    border-radius: 4px;
    background: $basic-2;
    color: $basic-7;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    span {
      margin-left: 12px;
    }

    i {
      font-size: 18px;
    }
  }

  &.clear-filters {
    display: flex;
    align-items: center;
    margin-right: 32px !important;
    color: #36f;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    span {
      margin-left: 10px;
    }
  }

  &.add-consultation {
    margin-left: 16px;
  }

  &.excel-export {
    display: flex;
    align-items: center;

    i {
      margin-right: 6px;
      font-size: 16px;
    }
  }
}

.btn.pending {
  pointer-events: none;
  position: relative;
  user-select: none;
  color: transparent !important;

  * {
    color: transparent !important;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9999px;
    margin-top: -5px;
    margin-left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 9984px 0 0 0 rgba(255 255 255 / 100%), 9999px 0 0 0 rgba(255 255 255 / 100%), 10014px 0 0 0 rgba(255 255 255 / 100%);
    background-color: rgba(255 255 255 / 100%);
    color: rgba(255 255 255 / 100%);
    animation: button-loading-white 1s infinite linear;
  }
}

@keyframes button-loading-white {
  100%,
  0% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 33%), 9999px 0 0 0  rgba(255 255 255 / 66%), 10014px 0 0 0  rgba(255 255 255 / 100%); }
  33% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 66%), 9999px 0 0 0  rgba(255 255 255 / 33%), 10014px 0 0 0  rgba(255 255 255 / 100%); }
  66% { box-shadow: 9984px 0 0 0  rgba(255 255 255 / 100%), 9999px 0 0 0  rgba(255 255 255 / 66%), 10014px 0 0 0  rgba(255 255 255 / 33%); }
}
