.detail-field {
  display: flex;
  flex-direction: column;

  // max-width: 192px;

  span {
    margin-bottom: 4px;
    color: $dark-3;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  strong {
    color: $basic-7;
    font-size: 14px;
    line-height: 20px;
  }
}
