.application-form_inner {
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  .row {
    padding-top: 32px;
  }

  h2 {
    color: $success-6;
    font-size: 20px;
    line-height: 28px;
  }

  .form-group {
    max-width: 100%;
    width: 312px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .btn-transparent {
      margin-right: 12px;
      width: 137px;
      height: 40px;
      border: 1px solid $success-5;
      border-radius: 4px;
      color: $success-5;
    }

    .btn-success {
      width: 172px;
      height: 40px;
    }
  }
}
