.billing {
  tbody tr td .btn {
    color: $info-5;
    text-decoration: underline;

    &:hover {
      color: $info-7;
    }
  }

  &.add-new,
  &.id {
    .actions {
      column-gap: 24px;
      margin-bottom: 24px;

      .form-group {
        max-width: 246px;
      }
    }

    .table-responsive {
      padding-bottom: 24px;
      border: 1px solid #dee1f4;
      border-radius: 6px;

      .custom-control {
        padding: 0;

        &-label::after,
        &-label::before {
          width: 20px;
          height: 20px;
        }
      }

      .form-group {
        margin-bottom: 0;

        input {
          border-radius: 4px;
        }
      }

      thead {
        border-radius: 4px;
        background: #42aaff;

        tr th {
          color: $white;
          font-weight: 400;
        }
      }

      tbody {
        tr {
          cursor: initial;
          border: none;

          &:not(:last-child) {
            border-bottom: 1px solid #edf1f7;
          }
        }

        tr td {
          button {
            margin-left: 12px;

            i {
              font-size: 24px;
            }
          }
        }
      }

      .add-row {
        color: $dark-4;

        i {
          margin-right: 8px;
          color: $success-5;
        }
      }
    }
  }

  &.id {
    .page-header .header-actions {
      .btn:first-child {
        color: $basic-7;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

        i {
          margin-right: 7px;
          color: $info-5;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .btn:nth-child(2) {
        border: 1px solid $dark-3;
        border-radius: 4px;
        background: $basic-2;
        color: $basic-7;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

        i {
          margin-right: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .btn:nth-child(3) {
        border: 1px solid $dark-3;
        border-radius: 4px;
        background: $white;
        color: $basic-7;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

        i {
          margin-right: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .payment-info {
      padding-top: 4px;

      .head {
        margin-bottom: 31px;

        span {
          color: $dark-6;
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
        }
      }

      .body {
        ul {
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            &:last-child {
              padding-bottom: 28px;
              border-bottom: 1px solid $dark-4;
            }

            strong {
              color: $dark-6;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
            }

            span {
              color: $dark-6;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }

        .total {
          strong {
            color: $dark-6;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
    }
  }
}
