<template>
  <div class="application-form">
    <page-header show-back-button title="Visa application form" />
    <div class="container">
      <div class="application-form_inner">
        <Personal />
        <Passport />
        <Travel />
        <div class="actions">
          <button class="btn btn-transparent">Save as draft</button>
          <button class="btn btn-success">Save and continue</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Personal from '@/components/application-form/PersonalInformation.vue'
import Passport from '@/components/application-form/PassportDetails.vue'
import Travel from '@/components/application-form/TravelDetails.vue'
export default {
  components: {
    Personal,
    Passport,
    Travel,
  },
  data() {
    return {
      showPersonal: true,
      showPassport: false,
      showTravel: false,
    }
  },
}
</script>

<style></style>
